<h2> Done tasks : </h2>
<div *ngFor="let todo of todo$">
  <mat-card *ngIf="todo.isDone" style="margin: 1rem">
    <mat-card-title>
      {{todo.title}}
    </mat-card-title>
    <mat-card-subtitle>
      Done
    </mat-card-subtitle>
    <mat-card-content>
      {{todo.description}}
    </mat-card-content>
    <button mat-raised-button color="primary" [routerLink]="['/todo', todo.id]">Inspect</button>
  </mat-card>
</div>

<h2> Todo tasks : </h2>
<div *ngFor="let todo of todo$">
  <mat-card *ngIf="!todo.isDone" style="margin: 1rem">
    <mat-card-title>
      {{todo.title}}
    </mat-card-title>
    <mat-card-subtitle>
      Pending
    </mat-card-subtitle>
    <mat-card-content>
      {{todo.description}}
    </mat-card-content>
  </mat-card>
</div>
